* {box-sizing:border-box;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.layout-container {
  display: block;
  max-width: 1400px;
  margin: 0 auto;
  padding:0px 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout-container header{
  text-align: center;
  padding:50px 0;
}

.dayBlock {
  float: left;
  width: 100%;
  margin-top: 50px;
  text-align: left;
  
}
.block {
  float: left;
  width: 100%;
  padding:30px 0;
}

.block p, .block li {
  font-weight: light;
  color:#666;
  line-height:24px;
}

.block p strong, .block li strong{
  color:#444;
}

.js-navbar {display: flex; align-items: center; width: 100%; background-color: #444;}
.js-navbar ul nav{display: flex;}
.js-navbar ul {
  display: flex;
}
.js-navbar ul, .js-navbar ul li {
  list-style-type: none;
  color: #ccc;
}
.js-navbar ul li a {
  color:#ccc;
  padding:10px;
  text-decoration: none;
  display: inline-block;
}

.js-navbar ul li + li {
  padding-left:20px;
}

.js-navbar ul li a.active {
  font-weight:bold;
  color:#fff;
}